<section id="viewAddhotel">
    <h2>Add new hotel</h2>
    <form id="formAddhotel" action="/create" method="POST">
        <label for="hotel">Hotel name:</label>
        <input type="text" id="hotel" name="hotel" placeholder="Hotel name" value="{{data.hotel}}">
        <label for="city">City:</label>
        <input type="text" id="city" name="city" placeholder="City" value="{{data.city}}">
        <label for="free-rooms">Free rooms:</label>
        <input type="number" id="free-rooms" name="rooms" placeholder="Free rooms" value="{{data.rooms}}">
        <label for="imgUrl">Image:</label>
        <input type="text" id="imgUrl" name="imgUrl" placeholder="https://" value="{{data.imgUrl}}">

        <label for="imgUrl">Air conditioning:</label>
        <input type="checkbox" class="form-check-input" id="check-box" name="airCondition">

        <input type="submit" class="create" value="Add">
    </form>
</section>